<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Socketio Test </title>
</head>

<body> 

    <!-- Bootstrap + jquery --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">     

    <!-- Vue -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>


    <div class="container" id="app">

        <div class="row">
            <div class="col-md-12">
                <h1> Serial Bridge Info </span> </h1> 
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="panel panel-primary" id="panel"> 
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a> 
                        Message List
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <div class='col-md-12'>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Message </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in messages"> 
                                <td> [[index]] </td>
                                <td> [[JSON.stringify(item)]] </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                socket: io.connect('http://' + document.domain + ':' + location.port),
                messages: [],
                max_messages: 25,
            },
            methods: {
                setupSocket: function() {
                    var app = this;
                    this.socket.on('info', function(data) {
                        app.messages.unshift(data);
                        console.log(app.messages.length);
                        console.log(app.max_messages)
                        if (app.messages.length > app.max_messages) {
                            app.messages.pop();
                        }
                        console.log(data);
                    });
                },
            }
        });

        app.setupSocket();

    </script>

</body>
