<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Socketio Test </title>
</head>

<body> 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">     
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">     
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  <div class="container" id="app">

    <div class="row">
      <div class="col-md-10">
          <h1> Serial Port Bridge  </h1> 
      </div>
      <div class="col-md-2">
        <h1> <small> IO Rodeo </small></h1>
      </div>
    </div>

    <!-- Panel showing list of available serial ports --> 
    <div class="panel panel-primary" id="port-list">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a> Available Ports </a>
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> #  </th>
                  <th> Device </th>
                  <th> Name </th>
                  <th> Manufacturer </th>
                  <th> VID </th>
                  <th> PID </th>
                  <th> Serial # </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in ports">
                  <td> [[index]] </td>
                  <td> [[item.device]] </td>
                  <td> [[item.name]] </td>
                  <td> [[item.manufacturer]] </td>
                  <td> [[item.vid]] </td>
                  <td> [[item.pid]] </td>
                  <td> [[item.serialNumber]] </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Panel showing list of attached socket.io clients -->
    <div class="panel panel-primary" id="message-list"> 
      <div class="panel-heading">
        <h4 class="panel-title">
          <a> Socket.io Clients </a>
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> # </th>
                  <th> IP </th>
                  <th> Time </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(value,key,index) in clients">
                  <td> [[index]] </td>
                  <td> [[value.address]] </td>
                  <td> [[value.time]] </td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Panel showing serial port connections status -->
    <div class="panel panel-primary" id="message-list"> 
      <div class="panel-heading">
        <h4 class="panel-title">
          <a> Port Connection Status </a>
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Parameter </th>
                  <th> Value </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(value,key) in connectionStatus">
                  <td> [[key]] </td>
                  <td> [[value]] </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <!-- panel showing the last maxMessages serial port messages --> 
    <div class="panel panel-primary" id="message-list"> 
      <div class="panel-heading">
        <h4 class="panel-title">
          <a> Messages ([[maxMessages]] most recent)</a>
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> # </th>
                  <th> Message </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in messages"> 
                  <td> [[index]] </td>
                  <td> [[JSON.stringify(item)]] </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="clientbundle.js"></script>

</body>
